/* GRID */
.teaser {
    background-color: var(--light-neutral-color---);
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100vh;


    img {
        width: 30%;
        height: auto;
        min-width: 300px;
        object-fit: contain;

    }

    h3 {
        color: var(--dark-neutral-color-01);
        font-weight: 200;
        letter-spacing: 2px;
    }
}

.grid {
    display: grid;
}

.grid-flow-cols {
    grid-auto-flow: column;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);

}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-2-1 {
    grid-template-columns: 2fr 1fr;
}

.grid-cols-2-rows-3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


.logo-header {
    width: 15%;
    min-width: 50px;
}

.hero-1 {
    margin-block: 40px;
    img {
        height: 100%;
        object-fit: cover;
        position: absolute;
        inset: 0;
        left: 200px;
        z-index: 0;
    }

    .video-background {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
  
    .card {
        border-radius: 8px;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position:absolute;
            inset: 0;
            top: 50%;
            background-image: linear-gradient(
                180deg,
                transparent 0%,
                #1c1c1e 100%
            );
        }

        figcaption {
            position: absolute;
            bottom: 0;

            padding: 48px;

            h2, button {
                margin-top: 32px;
            }
            
            div {
                display: flex;
                gap: 16px;
            }

            button {
                background-color: var(--light-neutral-color-01);
            }

            button:hover {
                background-color: var(--dark-neutral-color-01);
                color: var(--light-neutral-color-01);
            }

            a {
                font: var(--text-bt);
            }

            a:hover {
                color: inherit;
            }
        }
    }

}

.grid-melhorar{
    display: grid;
    height: 100%;
    width: 100%;
    /* background-color: black; */

    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    
    align-content: space-between;

    
    div:nth-child(1) {
        grid-column: 1 / 3;
    }

    div:nth-child(2) {
        grid-column: 1 / 3;
    }

    & > div {
        /* background-color: blue; */
    }   
}

.grid-cols-12 {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    div:nth-child(1) {
        background-color: red;
    }
    div:nth-child(2) {
        background-color: rgb(255, 145, 0);
    }
     div:nth-child(3) {
        background-color: rgb(229, 255, 0);
    }
     div:nth-child(4) {
        background-color: rgb(115, 255, 0);
    }
     div:nth-child(5) {
        background-color: rgb(0, 255, 34);
    }
     div:nth-child(6) {
        background-color: rgb(0, 255, 149);
    }
     div:nth-child(7) {
        background-color: rgb(0, 195, 255);
    }
     div:nth-child(8) {
        background-color: rgb(0, 132, 255);
    }
     div:nth-child(9) {
        background-color: rgb(0, 38, 255);
    }
     div:nth-child(10) {
        background-color: rgb(195, 0, 255);
    }
     div:nth-child(11) {
        background-color: rgb(255, 0, 212);
    }
     div:nth-child(12) {
        background-color: rgb(255, 0, 85);
}

}

/* ----------- RESPONVIVO ------------ */

@media (max-width: 1024px) {
    .hero-1 {
        margin-block: 32px;
    }

    .hero-1 .card figcaption {
        padding: 32px;
    }

    .grid-cols-2,
    .grid-cols-3,
    .grid-cols-2-1 {
        grid-template-columns: 1fr;
    }

    .card-foto-2col {
        height: 40vh;
    }
}

@media (max-width: 768px) {
    .hero-1 .card {
        min-height: 520px;
    }

    .hero-1 .card::before {
        top: 40%;
    }

    .hero-1 .card figcaption {
        padding: 24px;
        text-align: center;
    }

    .hero-1 .card figcaption h2,
    .hero-1 .card figcaption div {
        margin-top: 24px;
    }

    .hero-1 .card figcaption div {
        flex-direction: column;
        align-items: stretch;
    }

    .hero-1 .card figcaption button {
        width: 100%;
    }

    .card-foto-2col {
        height: 320px;
    }
}

@media (max-width: 480px) {
    .hero-1 .card {
        min-height: 480px;
    }

    .hero-1 .card figcaption {
        padding: 20px;
    }
}


@media (max-width: 768px) {
    .teaser {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto; /* evita ocupar 100vh em telas pequenas */
        padding: 2rem 1rem;
        gap: 1.5rem;
    }

    .teaser img {
        width: 60%;
        height: auto;
        min-width: 150px; /* reduz min-width em dispositivos menores */
        object-fit: contain;
        margin: 0 auto;
    }

    .teaser h3 {
        text-align: center;
        padding: 0 0.5rem;
    }
}
