/* GAP */
.gap-16 {
    gap: 16px;
}
.gap-32 {
    gap: 32px;
}

/* CORES */

.t-claro-1 {
    color: var(--light-neutral-color-01);
}
.t-claro-2 {
    color: var(--light-neutral-color-02);
}

.t-escuro-1 {
    color: var(--dark-neutral-color-01);
}

.t-escuro-2 {
    color: var(--dark-neutral-color-02);
}

.t-escuro-2 {
    color: var(--dark-neutral-color-03);
}

.bc-claro-1 {
    background-color: var(--light-neutral-color-01);
}

.bc-claro-2 {
    background-color: var(--light-neutral-color-02);
}

.bc-escuro-1 {
    background-color: var(--dark-neutral-color-01);
}

.bc-escuro-2 {
    background-color: var(--dark-neutral-color-02);
}

.bc-brand {
    background-color: var(--brand-color);
}

.bc-secondary {
    background-color: var(--secondary-color);
}

.bc-accent {
    background-color: var(--accent-color);
}

/* TEXTOS  */
.text-2xl {
    font: var(--h1);
}

.text-xl {
    font: var(--h2);
}

.text-lg {
    font: var(--h3);
}

.text-copy {
    font: var(--text-copy);
}

.text-sm {
    font: var(--text-sm);
}

.wt-900 {
    font-weight: 900;
}

.wt-600 {
    font-weight: 600;
}

.center-text {
    text-align: center;
}



/* MARGIN */

.margin-top-8 {
    margin-top: 8px;
}

.margin-block-16 {
    margin-block: 16px;
}

.margin-top-48 {
    margin-top: 48px;
}

.margin-block-32 {
    margin-block: 32px;
}

.margin-block-80 {
    margin-block: 80px;
}


/* PADDING */

.pad-line-48 {
    padding-inline: 48px;
}

.pad-block-32 {
    padding-block: 32px;
}

.pad-block-48 {
    padding-block: 48px;
}

.pad-block-64 {
    padding-block: 64px;
}





