footer {
    background-color: var(--secondary-color);
}

img {
    width: 80px;
    object-fit: contain;
}

ul {
    li {
        font: var(--text-sm);
    }

}

p {
    font: var(--text-sm);
}

a {
    font: var(--text-sm);
}

#footer-flex {
    margin-top: 40px;
    padding-block: 32px;
    display: flex;
    justify-content: space-between;
    align-items: end;

}

#grp01 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#grp02 {
    font: var(--text-sm);
    display: flex;
    flex-direction: column;
}

#grp03 {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    #footer-flex {
        gap: 24px;
        flex-wrap: wrap;
    }

    #grp01,
    #grp02,
    #grp03 {
        flex: 1 1 45%;
    }
}

@media (max-width: 768px) {
    #footer-flex {
        flex-direction: column;
        align-items: flex-start;
    }

    #grp01,
    #grp02,
    #grp03 {
        flex: 1 1 100%;
    }
}

@media (max-width: 480px) {
    #footer-flex {
        align-items: center;
        text-align: center;
    }

    #footer-nav ul {
        text-align: center;
    }

    #grp02,
    #grp03 {
        align-items: center;
    }
}
