header {
    margin-top: 32px;
}

#primary div {
    display: flex;
    justify-content: center;
}

#secondary {
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 16px;
    font: var(--text-sm);
    color: var(--dark-neutral-color-01);
    letter-spacing: 0.1em;

    border: none; 
    border-bottom: solid 1px hsla(0, 0%, 100%, 0.1);

    ul {
        display: flex;
        justify-content: space-around;
    }

}
