header {
    margin-top: 32px;
}

#primary div {
    display: flex;
    justify-content: center;
}

#secondary {
    ul {
        display: flex;
        justify-content: space-around;
    }

    text-transform: uppercase;
    text-decoration: none;
    margin-top: 16px;
    font: var(--text-sm);
    color: var(--dark-neutral-color-01);
    letter-spacing: 0.1em;
}
