.hero-1 {
    img {
        height: 100%;
        object-fit: cover;
        position: absolute;
        inset: 0;
        left: 200px;
        z-index: 0;
    }

    .video-background {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

 
    
    .card {
        border-radius: 8px;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position:absolute;
            inset: 0;
            top: 50%;
            background-image: linear-gradient(
                180deg,
                transparent 0%,
                #1c1c1e 100%
            );
        }

        figcaption {
            position: absolute;
            bottom: 0;

            padding: 48px;

            h2, button {
                margin-top: 32px;
            }
            
            div {
                display: flex;
                gap: 16px;
            }

            button {
                background-color: var(--light-neutral-color-01);
            }

            button:hover {
                background-color: var(--dark-neutral-color-01);
                color: var(--light-neutral-color-01);
            }

            a {
                font: var(--text-bt);
            }

            a:hover {
                color: inherit;
            }


        }
    }

}