#sub-textos-top {
    align-items: start;

    p {
        font: var(--text-copy);
        padding-top: 8px;
    }

}

#por-que-melhorar { 
    border-radius: 8px;
    background-color: var(--light-neutral-color-02);

    p {
        font: var(--text-copy);
    }

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    div:nth-child(3) {
        align-self: end;
    }

    div:nth-child(4) {
        align-self: end;
    }

}

#sobre-a-lleras {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


    :nth-child(1) {
        grid-column: 1 / 2;
    }
    :nth-child(2) {
        grid-column: 2 / 3;
    }

    :nth-child(3) {
        overflow: hidden;
        grid-column: 1 / 3;
        height: 600px;
        border-radius: 8px;
    }

    .div {
        border: 1px solid black;
    }

    img {
        width: 100%;
        object-fit: cover;
    }

}