.hero-1 {
    img {
        height: 100%;
        object-fit: cover;
    }
    
    .card {
        border-radius: 8px;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position:absolute;
            inset: 0;
            top: 50%;
            background-image: linear-gradient(
                180deg,
                transparent 0%,
                #1c1c1e 100%
            );
        }
    }

}