#sub-textos-top {
    align-items: start;

    p {
        font: var(--text-copy);
        padding-top: 8px;
    }

}

#por-que-melhorar { 
    border-radius: 8px;
    background-color: var(--light-neutral-color-02);

    p {
        font: var(--text-copy);
    }

    img {
        
        object-fit: cover;
        border-radius: 8px;
    }

    div:nth-child(3) {
        align-self: end;
    }

    div:nth-child(4) {
        align-self: end;
    }

}