.grid {
    display: grid;
}

.grid-flow-cols {
    grid-auto-flow: column;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-2-1 {
    grid-template-columns: 2fr 1fr;
}

.gap-16 {
    gap: 16px;
}

.logo-header {
    width: 15%;
    min-width: 50px;
}

.t-claro-1 {
    color: var(--light-neutral-color-01);
}
.t-claro-2 {
    color: var(--light-neutral-color-02);
}

.t-escuro-1 {
    color: var(--dark-neutral-color-01);
}

.t-escuro-2 {
    color: var(--dark-neutral-color-02);
}

.pad-line-48 {
    padding-inline: 48px;
}

.pad-block-32 {
    padding-block: 32px;
}
